.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DDB892;
    padding: 15px 0px;
}

.header--logo{
    width: 75px;
    height: 75px;
    margin-right: 15px;
}
